<% include ./partials/header %>
<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_Nwm0U5fi8uGJCcHCX41i2dIo"
    data-amount="999"
    data-name="Sofex Technologies"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="mxn">
  </script>
</form>



<% include ./partials/footer %>